3.4

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv('lprostate.dat', sep='\t')
df

,row.names,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa
0,1,-0.5798,2.7695,50,-1.3863,0,-1.3863,6,0,-0.4308
1,2,-0.9943,3.3196,58,-1.3863,0,-1.3863,6,0,-0.1625
2,3,-0.5108,2.6912,74,-1.3863,0,-1.3863,7,20,-0.1625
3,4,-1.2040,3.2828,58,-1.3863,0,-1.3863,6,0,-0.1625
4,5,0.7514,3.4324,62,-1.3863,0,-1.3863,6,0,0.3716
...,...,...,...,...,...,...,...,...,...,...
92,93,2.8303,3.8764,68,-1.3863,1,1.3218,7,60,4.3851
93,94,3.8210,3.8969,44,-1.3863,1,2.1691,7,40,4.6844
94,95,2.9074,3.3962,52,-1.3863,1,2.4639,7,10,5.1431
95,96,2.8826,3.7739,68,1.5581,1,1.5581,7,80,5.4775
96,97,3.4720,3.9750,68,0.4383,1,2.9042,7,20,5.5829